<h1>Best nesoberi site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best nesoberi!</p>

<% end %>

<p> Best nesoberis are: </p>

<table>
  <tr>
    <th>Global<br>Ranking</th>
    <th>Name</th>
  </tr>
  <% Nesoberi.global_ranking.each_with_index do |nesoberi, index| %>
    <tr>
      <td>
        <% if Nesoberi.global_ranking[index][1] == Nesoberi.global_ranking[index -1][1] %>
          <!-- If two nesoberis are tied, they should have the same rank -->
          <%= index %>
        <% else %>
          <%= index + 1 %>
        <% end %>
      </td>
      <td><%= nesoberi[0] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>EVERYTHING BELOW THIS POINT IS TESTING</h2>
<!-- Makes table with all the votes -->
<table>
  <tr>
    <th>Name</th>
    <% Nesoberi.all.each_with_index do |nesoberi, index| %>
      <th>Number of rank <%= index + 1 %> votes</th>
    <% end %>
  </tr>
    <% Nesoberi.all.each do |nesoberi| %>
      <tr>
        <td><%= nesoberi.name %> </td>
        <% for rank in 1..Nesoberi.count %>
          <td><%= nesoberi.rankings.where(rank: "#{rank}").count %></td>
        <% end %>
      </tr>
    <% end %>
</table>


<!-- put each nesoberi into a hash with name => no. of 1st place votes -->
<% no_first_places = {} %>
<% Nesoberi.all.each do |nesoberi| %>
  <% no_first_places[nesoberi.name] = nesoberi.rankings.where(rank: 1).count %>
<% end %>
hash:
<%= no_first_places %>
<br>
<br>
nesoberi with most 1st rank votes:
<%= no_first_places.key(no_first_places.values.max) %>
<br>
count no. of times first rank comes up:
<%= no_first_places.values.count no_first_places.values.max %>
<br>

<% if no_first_places.values.count(no_first_places.values.max) > 1 %>
  <%= "occurs more than once" %>
<% else %>
  <%= "occurs only once" %>
<% end %>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
  </tr>

  <% for i in 1..Nesoberi.all.count do %>

    <tr>
      <td><%= i %></td>
      <td>
        <% num_votes = {} %>

        <% Nesoberi.all.each do |nesoberi| %>
          <% num_votes[nesoberi.name] = nesoberi.rankings.where(rank: "#{i}").count %>
        <% end %>

        <% if num_votes.values.count(num_votes.values.max) == 1 %>
          <%= num_votes.key(num_votes.values.max) %>
        <% else %>

          <!-- Select the nesoberi with the most votes in second place -->

        <% end %>
      </td>
    </tr>

  <% end %>

</table>

<%= Nesoberi.global_ranking %>
